.AccountMain
  = render partial: 'items/header'
  .AccountPage
    .AccountPage__form
      %h2 会員情報入力 (2/2)
      = form_with model: @user, scope: 'user', url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
        .FormField
          .FormField__label--normal
            = f.label "郵便番号"
            %i 必須
          .FormField__input--normal
            = f.text_field :postalcode, autofocus: true, placeholder: "例) 1234567"
        .FormField
          .FormField__label--normal
            = f.label "都道府県"
            %i 必須
          .FormField__select--date
            = f.collection_select :prefecture, Prefecture.all, :id, :name

        .FormField
          .FormField__label--normal
            = f.label "市区町村"
            %i 必須
          .FormField__input--normal
            = f.text_field :city, autocomplete: "off", placeholder: "例) 大阪市北区"
        .FormField
          .FormField__label--normal
            = f.label "番地"
            %i 必須
          .FormField__input--normal
            = f.text_field :house_number, autocomplete: "off", placeholder: "例) 扇町2-1-27"
        .FormField
          .FormField__label--normal
            = f.label "建物名"
            -# %i 必須
          .FormField__input--normal
            = f.text_field :building_number, autocomplete: "off", placeholder: "例) スカイビル123号室"
        .FormField
          .FormField__label--normal
            = f.label "電話番号"
            -# %i 必須
          .FormField__input--normal
            = f.text_field :dial_number, autofocus: true, placeholder: "例) 09012345678"

            = f.hidden_field :name, value: @user_params[:name]
            = f.hidden_field :email, value: @user_params[:email]
            = f.hidden_field :password, value: @user_params[:password]
            = f.hidden_field :password_confirmation, value: @user_params[:password_confirmation]
            = f.hidden_field :familyname, value: @user_params[:familyname]
            = f.hidden_field :firstname, value: @user_params[:firstname]
            = f.hidden_field :familykana, value: @user_params[:familykana]
            = f.hidden_field :firstkana, value: @user_params[:firstkana]
            = f.hidden_field :birthyear, value: @user_params[:birthyear]
            = f.hidden_field :birthmonth, value: @user_params[:birthmonth]
            = f.hidden_field :birthday, value: @user_params[:birthday]
            - birthdate = Date.new(@user_params[:birthyear].to_i, @user_params[:birthmonth].to_i, @user_params[:birthday].to_i)
            = f.hidden_field :birthdate, value: birthdate

        .actions
          = f.submit "登録", class: 'Button UserButton'
  = render partial: 'items/footer'
