.AccountMain
  = render partial: 'items/header'
  .AccountPage
    .AccountPage__form
      %h2 会員情報入力
      = render "devise/shared/error_messages"
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .FormField
          .FormField__label--normal
            = f.label "ニックネーム"
          .FormField__input--normal
            = f.text_field :name, autofocus: true, placeholder: "例) フリマ太郎"
        .FormField
          .FormField__label--normal
            = f.label "メールアドレス"
          .FormField__input--normal
            = f.email_field :email, placeholder: "PC・携帯どちらでも可"
        .FormField
          .FormField__label--normal
            = f.label "パスワード"
            -# %i (7文字以上の英数字)
          .FormField__input--normal
            = f.password_field :password, autocomplete: "off", placeholder: "7文字以上の英数字"
        .FormField
          .FormField__label--normal
            = f.label "お名前"
          .FormField__input--name
            = f.text_field :name, autofocus: true, placeholder: "例) 吉田"
            = f.text_field :name, autofocus: true, placeholder: "例) 宗子"
          .FormField__label--normal
            = f.label "お名前(カナ)"
          .FormField__input--name
            = f.text_field :name, autofocus: true, placeholder: "例) ヨシダ"
            = f.text_field :name, autofocus: true, placeholder: "例) ソウス"
        .FormField
          .FormField__label--normal
            = f.label "生年月日"
          .FormField__select--date
            = f.select :name, ["--"] | (1900..2020).to_a.reverse
            年
            = f.select :name, ["--"] | (1..12).to_a
            月
            = f.select :name, ["--"] | (1..31).to_a
            日

        .actions
          = f.submit "登録", class: 'Button UserButton'
