.LeftContainer
  .MyPage
    %p.MyPage__title
      マイページ
    %ul.MyPageMenu
      %li.MyPageMenu__list
        = link_to "#" ,class:"MyPageMenu__list--info" do
          出品する
        %i.MyPageMenu__icon
          = icon("fas", "angle-right")
      %li.MyPageMenu__list
        = link_to "#", class:"MyPageMenu__list--info" do
          出品した商品
        %i.MyPageMenu__icon
          = icon("fas", "angle-right")
      %li.MyPageMenu__list
        = link_to "#", class:"MyPageMenu__list--info" do
          購入した商品
        %i.MyPageMenu__icon
          = icon("fas", "angle-right")
      %li.MyPageMenu__list
        = link_to "#",class:"MyPageMenu__list--info" do
          お問い合わせ
        %i.MyPageMenu__icon
          = icon("fas", "angle-right")
      %li.MyPageMenu__list
        = link_to "#" ,class:"MyPageMenu__list--info"do
          お知らせ
        %i.MyPageMenu__icon
          = icon("fas", "angle-right")
    %p.MyPage__title
      設定
      %ul.MyPageMenu
        %li.MyPageMenu__list
          = link_to "/cards/new",class:"MyPageMenu__list--info"  do
            クレジットカード詳細・削除
          %i.MyPageMenu__icon
            = icon("fas", "angle-right")
        %li.MyPageMenu__list
          = link_to destroy_user_session_path ,class:"MyPageMenu__list--info" do
            ログアウト
          %i.MyPageMenu__icon
            = icon("fas", "angle-right")