= render partial: 'items/header'

%nav.BreadCrumbs
  %ul.Menu
    %li.Menu__list
      = link_to "/", class:"Menu__list--name" do
        FURIMA
    %i.Menu__icon
      = icon("fas", "angle-right")
    %li.Menu__list
      = link_to "/users", class:"Menu__list--name" do
        マイページ
    %i.Menu__icon
      = icon("fas", "angle-right")
    %li.Menu__list
      = link_to "#",class:"Menu__list--big" do
        ログアウト
        
.LogoutContainer
  .LogoutContent
    .LogoutContent__Btn
      = link_to "ログアウト","/" ,class:"LogoutContent__Btn--Blue" 

= render partial: 'items/appBanner'
= render partial: 'items/footer'