= render partial: 'items/header'

%nav.BreadCrumbs
  %ul
    %li
      = link_to "/" do
        FURIMA
    %i
      = icon("fas", "angle-right")
    %li
      = link_to "/users" do
        マイページ
    %i
      = icon("fas", "angle-right")
    %li
      = link_to "#",class:'logout' do
        ログアウト
        
.LogoutContent
  .LogoutContent__Container
    .SingleInner
      .SingleContent
        = link_to "ログアウト","/" , class:"BtnRed" 


= render partial: 'items/appBanner'
= render partial: 'items/footer'