= render partial: 'items/header'

%nav.BreadCrumbs
  %ul.Menu
    %li.Menu__list
      = link_to "/",class:"Menu__list--name" do
        FURIMA
    %i.Menu__icon
      = icon("fas", "angle-right")
    %li.Menu__list
      = link_to "#",class:"Menu__list--big" do
        マイページ

.UsersMain
  = render partial: 'users/rightTableInfo'
  = render partial: 'users/rightTableBuy'
  = render partial: 'users/leftTable'
  
= render partial: 'items/appBanner'
= render partial: 'items/display'
= render partial: 'items/footer'



