.AccountMain
  = render partial: 'items/marketHeader'
  .AccountPage
    .AccountPage__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .FormField
          .FormField__input--normal
            = f.email_field :email, autofocus: true, placeholder: "メールアドレス"
          .FormField
            .FormField__input--normal
              = f.password_field :password, autocomplete: "off", placeholder: "パスワード"
          .actions
            = f.submit "ログイン", class: 'Button UserButton'
  = render partial: 'items/marketFooter'
