= render partial: 'items/header'

%nav.BreadCrumbs
  %ul.Menu
    %li.Menu__list
      = link_to "/",class:"Menu__list--name" do
        FURIMA
    %i.Menu__icon
      = icon("fas", "angle-right")
    %li.Menu__list
      = link_to "/users",class:"Menu__list--name" do
        マイページ
    %i.Menu__icon
      = icon("fas", "angle-right")
    %li.Menu__list
      = link_to "#",class:"Menu__list--big" do
        商品詳細

.ItemMain
  .ItemNewContainer
    .ItemContent
      .ItemBox
        .ItemBox__title
          = @item.name
        .ItemBoxBody
          %ul.ItemMenu
            %li.ItemMenu__list
              = image_tag @item.images[0].src.url, size:'560x346', class: "ItemMenu__list--big"
              %ul.ItemMenuSmall
                %li.ItemMenuSmall__list
                  = image_tag @item.images[0].src.url, size:'140x87', class: 'ItemMenuSmall__list--small'
                %li.ItemMenuSmall__list
                  = image_tag @item.images[0].src.url, size:'140x87', class: 'ItemMenuSmall__list--small'
        .ItemPrice
          %span.ItemPrice__detail 
            = "¥#{@item.price}"
        .ItemTax
          %span.ItemTax__detail (税込) 送料込み
        .ItemTitle 
          = @item.name
        .ItemTable
          %table.TableForm
            %tbody.TableBody
              %tr.TableDetail
                %th.TableDetail__title 出品者
                %td.TableDetail__inner  
                  = @item.user.name
              %tr.TableDetail
                %th.TableDetail__title カテゴリー
                %td.TableDetail__inner 
                  = @item.category.parent.parent.name
                  %br
                  = @item.category.parent.name
                  %br
                  = @item.category.name
              %tr.TableDetail
                %th.TableDetail__title ブランド
                %td.TableDetail__inner
                  = @item.brand
              %tr.TableDetail
                %th.TableDetail__title 商品の説明
                %td.TableDetail__inner 
                  =  @item.description
              %tr.TableDetail
                %th.TableDetail__title 商品の状態
                %td.TableDetail__inner
                  = @item.state
              %tr.TableDetail
                %th.TableDetail__title 配送料の負担
                %td.TableDetail__inner 
                  = @item.fee
              %tr.TableDetail
                %th.TableDetail__title 発送元の地域
                %td.TableDetail__inner
                  = @item.prefecture.name
              %tr.TableDetail
                %th.TableDetail__title 発送日の目安
                %td.TableDetail__inner 
                  = @item.term
        .ItemOption
          .ItemOption__like
            = link_to "#", class:"ItemOption__like--btn" do
              = icon("fas", "star", class:"ItemOption__like--btn")
              お気に入り
          .ItemOption__SellerArea
            - if user_signed_in? && current_user.id == @item.user_id
              = link_to edit_item_path(@item), class:"ItemOption__SellerArea--edit" do
                編集
              = link_to item_path(@item), method: :delete, class:"ItemOption__SellerArea--delete" do
                削除
          .ItemOption__BuyerArea
            - if @item.buyer_id.present?
              .ItemOption__BuyerArea--btn
                ※購入済み
            - elsif current_user.id != @item.user_id
              = link_to "購入する", item_buyers_path(@item), class: "ItemOption__BuyerArea--btn"
          .ItemOption__note
            = link_to "#", class:"ItemOption__note--flag" do
              = icon("fas", "flag", class:"ItemOption__note--flag" )
              不適切な商品の通報
              
      .ItemComment
        = form_with( local: true, id: "new_comment" ) do |f|
          .CommentBox
            = f.text_area :comment, class: "CommentBox__inner", placeholder: "コメントする"
          .CommentBox__note
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .CommentBox__Btn
            = button_tag type: 'submit', class: "CommentBox__Btn--btn" do
              = icon('fas', 'comment')
              コメントする

= render partial: 'items/appBanner'
= render partial: 'items/footer'