.CreditHeader 
  .Logo
    = image_tag 'logo.png', size:'220x65', class: 'Logo__icon'

%nav.BreadCrumbs
  %ul.Menu
    %li.Menu__list
      = link_to "/", class:"Menu__list--name" do
        FURIMA
    %i.Menu__icon
      = icon("fas", "angle-right")
    %li.Menu__list
      = link_to "/users", class:"Menu__list--name" do
        マイページ
    %i.Menu__icon
      = icon("fas", "angle-right")
    %li.Menu__list
      = link_to "#",class:'Menu__list--big' do
        購入内容の確認

.BuyerContainer
  .ItemTitle
    %p.ItemTitle__name
      購入が完了しました
  .PriceBox
    .ItemPrice
      .ItemPrice__title
        支払い金額
      .ItemPrice__price
        = "¥ #{@item.price}"
  .BtnTop
    .BtnIcon
      = link_to "/",class:"BtnIcon__top" do
        トップページへ戻る

= render partial: 'items/appBanner'
= render partial: 'items/footer'